// 将options  抽离到 .babelrc 文件中
{
    "presets": [
        ['@babel/preset-env',
            {
                "useBuiltIns": "usage"
            }
        ],
        '@babel/preset-react'
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ]
    ]
}